<%= form_with(model: grade, local: true) do |form| %>
  <% if grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
        <% grade.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.select :student_id, [['Select Student', '']] + Student.all.map { |n| [n.name, n.id]  } %>
  </div>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= form.select :teacher_id, [['Select Teacher', '']] + Teacher.all.map { |n| [n.name, n.id]  } %>
  </div>

  <div class="field">
    <%= form.label :school_year %>
    <%= form.number_field :school_year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
