<h1> School Controller </h1>

<p><%= link_to 'New Teacher', new_teacher_path %></p>
<p><%= link_to 'New Student', new_student_path %></p>
<p><%= link_to 'New Class', new_grade_path %></p>
<br>
<ul>
	<li><%= link_to 'List Classes', grades_path %></li>
	<li><%= link_to 'List Students', students_path %></li>
	<li><%= link_to 'List Teachers', teachers_path %></li>
</ul>